# Pandas

Pandas is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series. The data manipulation capabilities of pandas are built on top of the numpy library. In a way, numpy is a dependency of the pandas library.

In this notebook we'll try various pandas methods and in the process learn more about Pandas.

### Installation

Please follow this [link](https://pandas.pydata.org/pandas-docs/stable/install.html). All the necessary steps are mentioned here.

## Importing Pandas

Once Pandas is installed, we can use it our file

In [1]:
import numpy as np
import pandas as pd

## Series

Series are similar to numpy arrays. The only difference between them is that series can have axis labels which means that it can be indexed by a label and also by number location.

### Creating Series

There are various ways to create Series. Some of them are listed below.

1. **Using Python List**

In [7]:
seriesLabel = ['label1', 'label2', 'label3']
exampleList = [5, 10, 20]

In [8]:
pd.Series(exampleList)

0     5
1    10
2    20
dtype: int64

In [9]:
pd.Series(exampleList, seriesLabel)

label1     5
label2    10
label3    20
dtype: int64

2. **Using Numpy Arrays**

In [10]:
exampleNumpyArray = np.array([6, 12, 18])

In [11]:
pd.Series(exampleNumpyArray)

0     6
1    12
2    18
dtype: int64

In [12]:
pd.Series(exampleNumpyArray, seriesLabel)

label1     6
label2    12
label3    18
dtype: int64

3. **Using Dictionary**

In [20]:
exampleDictionary = { 'label4': 7, 'label5': 14, 'label6': 21 }

In [21]:
# No need to mention labels parameter
pd.Series(exampleDictionary)

label4     7
label5    14
label6    21
dtype: int64

In [22]:
# If you mention different labels for a dictionary
pd.Series(exampleDictionary, seriesLabel)

label1   NaN
label2   NaN
label3   NaN
dtype: float64

### Data and Index Parameter in Series

1. **Data**

Series can hold a variety of data.

In [4]:
def sampleFunc1():
    pass

def sampleFunc2():
    pass

def sampleFunc3():
    pass

pd.Series(data=[sampleFunc1, sampleFunc2, sampleFunc3])

0    <function sampleFunc1 at 0x11d8d0048>
1    <function sampleFunc2 at 0x11d8d00d0>
2    <function sampleFunc3 at 0x11d8d0158>
dtype: object

In [7]:
pd.Series(['a', 2, 'hey'])

0      a
1      2
2    hey
dtype: object

2. **Index**

It is the second parameter which acts as the label for the series.

In [11]:
pd.Series(data=[sampleFunc1, sampleFunc2, sampleFunc3], index=['a', 'b', 'c'])

a    <function sampleFunc1 at 0x11d8d0048>
b    <function sampleFunc2 at 0x11d8d00d0>
c    <function sampleFunc3 at 0x11d8d0158>
dtype: object

In [10]:
pd.Series(['a', 2, 'hey'], ['label', 2, 'key'])

label      a
2          2
key      hey
dtype: object

## DataFrames

DataFrames are like spreadsheets or SQL tables. DataFrames are utilised a lot by pandas users.

### Creating a DataFrame

pd.DataFrame( *data*, *index*, *columns* )

*data* -> content of the cells<br>
*index* -> labels for rows<br>
*columns* -> labels for columns

Returns wwo-dimensional size-mutable, potentially heterogeneous tabular data i.e. DataFrame

In [6]:
pd.DataFrame(data = np.random.randint(1,51, (4,3)), index = ['row1', 'row2', 'row3', 'row4'], columns = ['col1', 'col2', 'col3'])

      col1  col2  col3
row1     9    50    23
row2    19     4    13
row3    44    42    14
row4    19     8    15

### Selection and Indexing

**Note**: This notebook is not complete, more content will be added soon.